@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lora:wght@300;400;600;700&display=swap');

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  background-color: #1a1310;
  background-image: url('./assets/images/dark-wood-texture.jpg');
  background-size: cover;
  background-attachment: fixed;
  --black-bean: #2A0C14ff;
  --platinum: #DDE0DEff;
  --caput-mortuum: #472123ff;
  --battleship-gray: rgb(3, 96, 78);
  --lapis-lazuli: rgb(44, 82, 120);
  --rosewood: #740612ff;
  --brown-sugar: #B56C52ff;
  --bronze: #D0801Aff;
  --rose-taupe: #8A5653ff;
  --english-violet: #563C54ff;

}

body {

  font-family: 'Inter', 'Roboto', 'Open Sans', sans-serif;
  font-size: 24px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

